@model MVCStock.Models.Entities.TBLSATISLAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Satışlar Index</h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1"> Satış Yap</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış Yapma ekranı</h2>
            </div>
            <form method="post" action="Satis/YeniSatis">
                <div class="modal-body">
                    <label>
                        Ürün Adı
                    </label>
                    @Html.TextAreaFor(m => m.URUN, new { @class = "form-control" })
                    <br />
                    <label>Musteri Adı soyadı</label>
                    @Html.TextAreaFor(m => m.MUSTERI, new { @class = "form-control" })

                    <br />
                    <label>Adet</label>
                    @Html.TextAreaFor(m => m.ADET, new { @class = "form-control" })

                    <br />
                    <label>Fiyat</label>
                    @Html.TextAreaFor(m => m.FIYAT, new { @class = "form-control" })

                    <button type="submit" class="btn btn-info"> Satış yap</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"> Vazgec</button>

                </div>
            </form>
        </div>
    </div>
</div>